<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Secured Page</title>
</head>
<body>

<div>
    <h1>Secured Page</h1>

    <span th:each="d : ${documents}">
        <p  th:text="|title: ${d.title} created: ${d.created}|">Doc1</p>
        <a th:href="${'documents/download?id=' + d.id}" target="_blank">Download</a>
    </span>


    <br />

    <p th:each="u : ${users}" th:text="'email: ' + ${u.email} + ' created: ' + ${u.created}">Email1</p>

    <a href="/logout">Logout</a>
</div>

</body>
</html>